@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');


body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	color:#333;
  	margin:0;
}

.contentBlock {
	height:100vh;
	width:100%;
	/* background:rgb(0, 0, 0, 0.1); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.conentScroll {
	max-width: 50%;
	background-color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}


.box {
	width:50%;
	height:100vh;
	position:absolute;
	left:0px;
	background-image: url(cloud.png);
	background-size:cover;
	background-repeat: no-repeat;
}

.img {
	width:50%;
	height:100vh;
	background-image: url(Discovering\ New\ Brands.png);
	background-size:cover;
	background-repeat: no-repeat;
	position:absolute;
	right:0px;	
}

.contentBlock.boxContainer {
	z-index:2;

}

.contentBlock p {
	max-width: 250px;
	top:50%;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
}
